MONGODB_URI=mongodb://127.0.0.1:27017/emmanuel-nemi-portfolio
JWT_SECRET=change-this-to-a-long-random-string
ADMIN_EMAIL=admin@emmanuelnemi.com
ADMIN_PASSWORD=changeme123
CLIENT_URL=http://localhost:5173
PORT=3001
NODE_ENV=development
